*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: wheat;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

header{
    text-align: center;
    height: 100px;
    align-items: center;
    padding: 25px;
}
section{
    padding-left: 20%;
    padding-right: 20%;
    /* border: 1px solid red; */

}
h2{
    text-align: center;
}

.input{
    width: 50%;
}
.title{
    font-weight: bolder;
    text-align: center;
}
.ingredientList{
    font-size: 26px;
}
.img{
    background-position: center;
    /* padding: 0 10px 0 10px; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-image: url(https://g.foolcdn.com/editorial/images/660924/restaurant-gettyimages-643847438.jpg);
}
img{
    height: 100%;
    width: auto;
}

